/* TABLES */
table {
  border-collapse: collapse; /* Merges cell borders together */
  /* Browser default: border-collapse: separate; border-spacing: 2px; */
  border: 1px solid #546e7a;
  width: 100%;
}
td {
    background-color: #eceff1;
    color: rgba(0, 0, 0, 0.85);
}

td input {
    color: rgba(0, 0, 0, 0.85);
}

td, th {
    border: 1px solid #546e7a;
    color: black;
    max-width: 300px;
    overflow: auto;
    padding: 3px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: normal;
    word-wrap: break-word;
    font-size: 1em;
}
th[data-name="lineNumber"]{
    width: 25px;
    text-overflow: ellipsis;
    text-align: right;
}
td.label {
    color: #607d8b;
    font-size: 1em;
    font-weight: 400;
}
td:first-child, th:first-child {
  empty-cells: hide; /* Hide empty cells when they're the first in the row */
}

table caption {
    background-color: #263238;
    color: rgba(255, 255, 255, 0.85);
    font-size: 14pt;
}

th {
    background-color: #607d8b;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 400;
}

th.sorted {
    background-color: #546e7a;
}
td.sorted {
    background-color: #cfd8dc;
}

th.sorted::after {
    content: "\00a0\21f5";
}

th.number, td.number, th.integer, td.integer {
    text-align: right;
}

/* pagfination styles */
div.paginationControl {
    display: block;
    font-size: 10pt;
    margin: 5px 0 5px 0;
}

div.paginationControl > span {
    display: inline-block;
    padding: 3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    background-color: #e0e0e0;
    width: 6em;
}

div.paginationControl > span.first, div.paginationControl > span.previous {
    text-align: left;
}

div.paginationControl > span.current {
    text-align: center;
}

div.paginationControl > span.last, div.paginationControl > span.next {
    text-align: right;
}

td input {
    width: 100%;
    border: 0px none;
    height: 100%;
    display: inline-block;
    position: relative;
    background-color: rgba(255,255,255,0);
}
td input:focus {
    background-color: rgba(255,255,204,0.85);
}

td:hover {
    background-color: white;
}

ul.errors {
    color: red;
}

table td select {
    margin: 0;
    width: 100%;
    border: 0;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../images/arrow.png") no-repeat scroll 100% center / 10% auto;
}

table td input:invalid {
    background-color: #ffebee;
    border: 0;
    border-bottom: 1px dashed #b71c1c;
    color: #b71c1c;
    box-shadow: none;
}
